---
// This is a post template

import Navbar from "../../components/Navbar.astro";
import Layout from "../../layouts/Layout.astro";
import { pageForPosts } from "../../api/pageForPosts";
import { menu } from "../../api/menu";
import { posts } from "../../api/posts";
import type { Post } from "../../types/Post";

const { slug } = Astro.params;

// getting post data
const postRes = await fetch(`${import.meta.env.PUBLIC_BACKEND_URL}/posts?slug=${slug}`);
const post = (await postRes.json())[0] as Post;
// getting paths from menu1
export async function getStaticPaths() {
  return posts.map((post) => ({ params: { slug: post.slug } }));
}
---

<Layout title={post.title.rendered}>
  <article>
    <a href="/">Szeremlei Néptáncegyüttes</a>
    <p>!!! NOT FINAL !!!</p>
    <Navbar menu={menu} pageForPosts={pageForPosts} />
    <h1>{post.title.rendered}</h1>
    <div set:html={post.content.rendered} />
  </article>
</Layout>
