---
// This is a page template

import Navbar from "../../components/Navbar.astro";
import Layout from "../../layouts/Layout.astro";
import { pageForPosts } from "../../api/pageForPosts";
import { menu } from "../../api/menu";
import type { Page } from "../../types/Page";

const { slug } = Astro.params;

// getting page data
const pageRes = await fetch(`${import.meta.env.PUBLIC_BACKEND_URL}/pages?slug=${slug}`);
const page = (await pageRes.json())[0] as Page;

// getting paths from menu1
export async function getStaticPaths() {
  return menu.map((item) => ({ params: { slug: item.slug } }));
}
---

<Layout title={page.title.rendered}>
  <article>
    <a href="/">Szeremlei Néptáncegyüttes</a>
    <p>!!! NOT FINAL !!!</p>
    <Navbar menu={menu} pageForPosts={pageForPosts} />
    <h1>{page.title.rendered}</h1>
    <div set:html={page.content.rendered} />
  </article>
</Layout>
