---
// This is a page for posts

import Navbar from "../../components/Navbar.astro";
import Layout from "../../layouts/Layout.astro";
import { pageForPosts } from "../../api/pageForPosts";
import { posts } from "../../api/posts";
import { menu } from "../../api/menu";
import { stripHtml } from "string-strip-html";
---

<Layout title={pageForPosts.title.rendered}>
  <p>!!! HÍREK / POSTS !!!</p>
  <a href="/">Szeremlei Néptáncegyüttes</a>
  <Navbar menu={menu} pageForPosts={pageForPosts} />
  <h1>{pageForPosts.title.rendered}</h1>
  <ul>
    {
      posts.map((post) => (
        <>
          <li>
            <a href={`/hir/${post.slug}`}>{post.title.rendered}</a>
          </li>
          <p set:html={stripHtml(post.excerpt.rendered).result} />
        </>
      ))
    }
  </ul>
</Layout>
