---
// This is the homepage

import CoverPhoto from "/images/coverPhoto.jpg";
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import MenuIcon from "../components/MenuIcon.astro";
import CloseIcon from "../components/CloseIcon.astro";
import { menu } from "../api/menu";
import { mainPage } from "../api/mainPage";
---

<Layout title="Szeremlei Néptáncegyüttes">
  <!-- COVER -->
  <div class="cover">
    <header>
      <div class="cover-image-container">
        <img alt="Cover photo" src={CoverPhoto} class="cover-image" />
        <div class="cover-image-overlay"></div>
      </div>

      <div class="cover-title-container">
        <a href="/">
          <h1 hidden>Szeremlei Néptáncegyüttes</h1>
          <div class="cover-title-1">Szeremlei</div>
          <div class="cover-title-2">Néptáncegyüttes</div>
          <div class="cover-subtitle">alapítva 1927</div>
        </a>
      </div>
    </header>
  </div>

  <!-- NAVBAR DESKTOP -->
  <nav class="home-navbar-desktop">
    <Navbar menu={menu} />
  </nav>

  <!-- NAVBAR MOBILE -->
  <div class="home-navbar-mobile-open" id="home-navbar-mobile-open">
    <MenuIcon />
  </div>

  <div class="home-navbar-mobile-container" id="home-navbar-mobile-container">
    <div class="home-navbar-mobile-close" id="home-navbar-mobile-close">
      <CloseIcon />
    </div>
    <nav>
      <Navbar menu={menu} />
    </nav>
  </div>

  <!-- SAMPLE -->
  <main class="sample">
    <div class="sample-rect">
      <div class="sample-title">{mainPage.title.rendered}</div>
      <div class="sample-excerpt" set:html={mainPage.excerpt.rendered} />
      <a class="sample-button" href={`/oldal/${mainPage.slug}`}>Bővebben...</a>
    </div>
  </main>
</Layout>

<script>
  const openButton = document.getElementById("home-navbar-mobile-open");
  const closeButton = document.getElementById("home-navbar-mobile-close");
  const container = document.getElementById("home-navbar-mobile-container");

  openButton?.addEventListener("click", () => {
    container?.classList.add("home-navbar-mobile-container-active");
  });

  closeButton?.addEventListener("click", () => {
    container?.classList.remove("home-navbar-mobile-container-active");
  });

  window.addEventListener("resize", () => {
    if (window.innerWidth > 768) {
      container?.classList.remove("home-navbar-mobile-container-active");
    }
  });
</script>

<style is:global>
  /*---
  COVER
  ---*/

  .cover {
    height: var(--cover-height);
    position: relative;
    color: white;
    text-shadow: 2px 2px 4px #000000;
  }

  /* Cover image */

  .cover-image-container {
    position: relative;
    height: fit-content;
    width: fit-content;
  }

  .cover-image {
    display: block;
    margin: 0 auto;
    width: 100dvw;
    height: var(--cover-height);
    object-fit: cover;
  }

  .cover-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(7px);
  }

  /* Cover titles */

  .cover-title-container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 26rem;
    font-family: "Imperial Script", cursive;
  }

  .cover-title-container a {
    color: white;
    text-decoration: none;
  }

  .cover-title-1 {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    font-size: 5.5rem;
    text-align: left;
  }

  .cover-title-2 {
    position: absolute;
    top: 5.5rem;
    left: 0%;
    width: 100%;
    font-size: 3.5rem;
    text-align: right;
  }

  .cover-subtitle {
    position: absolute;
    top: 11rem;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-family: "Fira Mono", monospace;
  }

  /* Cover navbars */
  .home-navbar-desktop {
    position: absolute;
    top: var(--sample-rect-top);
    left: calc((100% - var(--home-navbar-width)) / 2);
    transform: translate(0, -100%);
    width: var(--home-navbar-width);
    text-align: center;
  }

  .home-navbar-desktop ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
  }

  .home-navbar-desktop li {
    display: inline-block;
  }

  .home-navbar-desktop a {
    display: block;
    padding: 1rem;
    color: white;
    text-decoration: none;
  }

  .home-navbar-mobile-open {
    display: none;
    padding: 0;
    margin: 0;
    text-align: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 1rem;

    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 2rem;
    top: 18rem;

    /* transition: 1s; */
  }

  .home-navbar-mobile-container {
    position: absolute;
    top: 20rem;
    left: 50%;
    width: 0;
    height: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    clip-path: inset(0 0 100% 0);
    transition: 0.5s ease-in-out;
    backdrop-filter: blur(7px);
  }

  .home-navbar-mobile-container-active {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    clip-path: inset(0 0 0 0);
  }

  .home-navbar-mobile-container ul {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
  }

  .home-navbar-mobile-container a {
    color: white;
    text-decoration: none;
  }

  .home-navbar-mobile-close {
    width: fit-content;
    margin: 20% auto 0 auto;
    padding: 1rem;
  }

  /*---
  SAMPLE
  ---*/

  .sample {
    display: block;
    height: fit-content;
    position: relative;
    width: calc(100% - 4rem);
    margin: 0 auto;
  }

  /* Sample rectangle */

  .sample-rect {
    margin: -2rem auto 2rem auto;
    width: calc(100% - 2 * var(--sample-rect-padding));
    max-width: 1000px;
    height: fit-content;
    padding: 3rem var(--sample-rect-padding);
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  }

  /* Sample title */

  .sample-title {
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    padding-bottom: 2rem;
  }

  .sample-excerpt {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
    padding-bottom: 1rem;
  }

  /* Sample button */

  .sample-button {
    appearance: button;
    text-decoration: none;
    border: none;
    background-color: #b5584f;
    color: white;
    font-family: "Open Sans", sans-serif;
    border-radius: 10rem;
    padding: 0.7rem 1rem;
  }

  /*---
  MEDIA QUERIES
  ---*/

  @media screen and (max-width: 768px) {
    .home-navbar-desktop {
      display: none;
    }

    .home-navbar-mobile-open {
      display: block;
    }

    .cover-title-1 {
      font-size: 4rem;
    }

    .cover-title-2 {
      font-size: 2.5rem;
      top: 4rem;
    }

    .cover-subtitle {
      top: 8rem;
    }

    .cover-title-container {
      width: 18rem;
    }

    .sample {
      width: calc(100% - 2rem);
    }

    .sample-rect {
      padding: 2rem var(--sample-rect-padding);
    }

    .sample-title {
      font-size: 1.7rem;
      padding-bottom: 1rem;
    }

    .sample-excerpt {
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 480px) {
    .home-navbar-mobile-open {
      top: 10rem;
    }

    .cover-title-1 {
      font-size: 3rem;
    }

    .cover-title-2 {
      font-size: 2rem;
      top: 3rem;
    }

    .cover-subtitle {
      top: 6rem;
    }

    .cover-title-container {
      top: 10%;
      width: 14rem;
    }

    .sample-rect {
      padding: 1rem var(--sample-rect-padding);
    }

    .sample-title {
      font-size: 1.5rem;
      padding-bottom: 0.6rem;
    }
  }

  @media screen and (max-width: 360px) {
    .home-navbar-mobile-open {
      top: 5.5rem;
    }

    .cover-title-1 {
      display: none;
    }

    .cover-title-2 {
      display: none;
    }

    .cover-subtitle {
      font-size: 0.8rem;
      top: 3rem;
    }

    .cover-title-container {
      width: 100%;
      text-align: center;
    }

    .cover-title-container h1 {
      display: block;
      font-weight: 400;
      padding: 0;
      margin: 0;
    }

    .sample-title {
      font-size: 1.3rem;
      padding-bottom: 0.5rem;
    }
  }
</style>
