---
import type { Node } from "../types/Node";
import PrimaryButton from "./PrimaryButton.astro";

interface Props {
  node?: Node | null;
  posts?: Node[];
  forSearch?: boolean;
  forNotFound?: boolean;
}

const { node, posts, forSearch, forNotFound }: Props = Astro.props;
const title = forNotFound ? "404" : node?.title?.rendered;
---

<section class="posts-section">
  <div class="posts">
    <h1>{title}</h1>
    <div class="posts-content">
      {
        posts &&
          posts.length > 0 &&
          posts.map((post) => {
            let isMainPage = false;

            if (post?.type === "page" && post.menu_order === 1) {
              isMainPage = true;
            }

            let url = isMainPage ? "/" : `/${post?.slug}`;

            return (
              <article>
                <h1>{post?.title.rendered}</h1>
                <div class="content" set:html={post?.excerpt.rendered} />
                <PrimaryButton url={url} text="Tovább" />
              </article>
            );
          })
      }

      {
        posts && posts.length === 0 && forSearch && (
          <article>
            <h1>Nincs találat</h1>
          </article>
        )
      }

      {
        posts && posts.length === 0 && !forSearch && (
          <article>
            <h1>Nincs bejegyzés</h1>
          </article>
        )
      }

      {
        forNotFound && (
          <article>
            <h1>A keresett oldal nem található</h1>
          </article>
        )
      }
    </div>
  </div>
</section>

<script></script>

<style is:global>
  .posts-section {
    min-height: calc(var(--vh) - calc(var(--posts-header-height) + var(--footer-height)));
  }

  .posts {
    max-width: 1000px;
    /* width: 90%; */
    margin: 0 auto 2rem auto;
    padding: 2rem 0;
    /* border: 1px dotted black; */
  }

  .posts h1,
  .posts h2,
  .posts h3,
  .posts h4,
  .posts h5,
  .posts h6 {
    font-family: "Playfair Display", serif;
    font-weight: normal;
  }

  .posts h1 {
    text-align: center;
  }

  .posts-content {
    margin: 3rem 0;
  }

  .posts article {
    background: white;
    border-radius: 2rem;
    padding: 1rem 2rem;
    margin: 1rem 0;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  }

  .posts article h1 {
    text-align: start;
    font-size: 1.5rem;
  }

  .posts article h1 a {
    color: black;
    text-decoration: underline;
  }
</style>
